* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
:root {
  --bg-color: #fff;
  --text-color: #0f172a;
  --main-color: #6b7280;
  --other-color: #334155;
  --big-font: 4.3rem;
  --h2-font: 2.2rem;
  --p-font: 1rem;
}
body {
  color: var(--text-color);
  background: var(--bg-color);
}

/* Header section design */
header {
  background-color: #4a647e;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 11%;
  border-bottom: 1px solid #f7f9fb;
  transition: all 0.45s ease;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
}
header.sticky {
  background: var(--other-color);
  padding: 14px 11%;
}
.logo img {
  width: 8rem;
  height: auto;
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: var(--p-font);
  color: var(--other-color);
  font-weight: 400;
  padding: 10px 25px;
  margin: 0 5px;
  background: transparent;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: all 0.45s ease;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
}
.navbar a:hover {
  background: #f7f9fb;
}
.navbar a.active {
  background: #f7f9fb;
}
.icons {
  display: flex;
  align-items: center;
}
.icons i {
  height: 50px;
  width: 50px;
  background: #f7f9fb;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--other-color);
  font-size: 22px;
  margin-right: 25px;
  margin-left: 10px;
  transition: all 0.45s ease;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
}
.icons i:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
#menu-icon {
  color: var(--other-color);
  font-size: 33px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
